name: Build WinUI3Crash
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Check Windows SDK versions
        run: Get-ChildItem "C:\Program Files (x86)\Windows Kits\10\Platforms\UAP\"
        shell: pwsh
      - name: Restore dependencies
        run: dotnet restore WinUI3Crash.csproj -r win-x64
      - name: Build
        run: dotnet build WinUI3Crash.csproj -c Release -r win-x64
      - name: Publish
        run: dotnet publish WinUI3Crash.csproj -c Release -r win-x64 -p:Platform=x64 -p:SelfContained=true -p:PublishTrimmed=true -p:PublishReadyToRun=true -p:WindowsAppSDKSelfContained=true
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WinUI3Crash-Build
          path: bin/**/publish/
