name: Build WinUI3Crash

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore WinUI3Crash.csproj -r win-x64

      - name: Build
        run: dotnet build WinUI3Crash.csproj -c Release -r win-x64

      - name: Publish
        run: dotnet publish WinUI3Crash.csproj -c Release -r win-x64 --self-contained /p:PublishReadyToRun=false

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: WinUI3Crash-Build
          path: bin/Release/net8.0-windows10.0.19041.0/win-x64/publish/
